.list-item{
    color: var(--font-color-gray);
    white-space: nowrap;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    transition: color 0.6s cubic-bezier(.18,.65,.88,.38);
}

.list-item:hover{
    color: var(--font-color-black);
}